<link rel="stylesheet" href="stylesheets/gallery.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

<script src="javascripts/board.js"></script>
<script src="javascripts/spa.js"></script>


<script type="text/javascript">



function myFunction(name, info, img, gallery_id) {
    
        var commnetdata ="<tr><th>User name</th><th>comment</th></tr>";
    
        document.getElementById("myModalLabel").innerHTML =  name;
        document.getElementById("info").innerHTML =  info;
        document.getElementById("gallery_img").src =img;
    
        console.log("idid",gallery_id);
    }
</script>




<div class="container">
	<div class="data-btn">
		<button onclick="addUser();">+ Add</button>
	</div>
	<form action="/gallery/search" method="get">
		<div class="box">
			<div class="container-1">
				<span class="icon"><i class="fa fa-search"></i></span>
				<input type="search" id="search" name="search" placeholder="search"/>
			</div>
		</div>
		<button>검색</button>
	</form>
	<div class="row" id="thumbsContainer">
	</div>
	<div class="col-md-4" id="thumb">
		<% if(data[0].length){ for(var i=0;i < data[0].length;i++) { %>
		<aside class="col-xs-6 col-md-4">
		<img src="<%=data[0][i].url%>" class="img-responsive" >
		<div class="content-title">
			<div class="text-center">
				<h3><a href="#" id="thumbTitle"><%=data[0][i].name%></a></h3>
				<h3><%=data[0][i].info%></h3>
			</div>
		</div>
		<div class="content-footer">
			<img class="user-small-img" src="images/profile.jpg" id="authorPic">
            <span style="font-size: 16px;color: #fff;" id="authorName1"><%=data[0][i].username%></span>
            <button type="button" data-toggle="modal" data-target="#myModal" onclick="myFunction('<%=data[0][i].name%>', '<%=data[0][i].info%>','<%=data[0][i].url%>', '<%=data[0][i].gallery_id%>' )"><span class="glyphicon glyphicon-comment" style="margin-left: 10px" aria-hidden="true" ></span>Comment</button>
            

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">New message</h4>
						</div>
						<div class="modal-body">
								<img class="img-responsive" id ="gallery_img" >
                                <div class="content-title">
                                    <div class="text-center">
                                        <h3 id ="info"></h3>
                                    </div>
                                </div>
                        <!-- 댓글 -->
                        <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading">Comment</div>
                                <table class="table" id="comment_data" >
                                        
                                        <tr><th>User name</th><th>comment</th></tr>
                                    

                                </table>
                      
                              </div>

                              <form action="/gallery/comment/<%=data[0][i].gallery_id%>" method="post">
                                <div class="box">
                                    <div class="container-1">
                                        <span class="icon"><i class="fa fa-search"></i></span>
                                        <input type="comment" name="comment" placeholder="comment" id="comment" class="input" value=""/>
                                    </div>
                                </div>
                                <button>submit</button>
                            </form>


                    
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
            </div>
            

            
			<% if (data[i].users_id==user.id){%>
			<span class="pull-right">
			<a class="a-inside edit" href="../gallery/edit/<%=data[0][i].gallery_id%>">Edit</a>
			<a class="a-inside delete" href="../gallery/delete/<%=data[0][i].gallery_id%>">Delete</a>
			</span>
			<% }%>
			<div class="user-details">
				<div class="user-img">
					<img src="images/profile.jpg" class="img-responsive" id="authorPic">
				</div>
				<span class="user-full-details">
				<h3 id="authorName2"><%=data[i].username%></h3>
				<p id="authorJob">
					A student from Coventry University
				</p>
				</span>
			</div>
		</div>
		</aside>
		<% } }else{ %>
		<p>
			no info
		</p>
		<% } %>
	</div>
</div>
</div>


