
  <link rel="stylesheet" href="stylesheets/gallery.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="javascripts/board.js"></script>

  <div class="container">
        <div class="data-btn">
             <button onClick="addUser();">+ Add</button>
        </div>
        <form action="/gallery/search" method="get">
            <div class="box">
                    <div class="container-1">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" name ="search" placeholder="search" />
                    </div>
                  </div> 
                       <button>전송</button>
        </form>


        <div class="row" id="thumbsContainer"></div>
            <div class="col-md-4" id="thumb">
                    <% if(data.length){ 
                        
            for(var i = 0;i < data.length;i++) { %>
                <aside  class="col-xs-6 col-md-4">
                    <img src="<%=data[i].url%>" class="img-responsive" >
                    <div class="content-title">
                        <div class="text-center">
                            <h3><a href="#" id="thumbTitle"><%=data[i].name%></a></h3>
                            <h3><%=data[i].info%></h3>
                        </div>
                    </div>
                    <div class="content-footer">
                        <img class="user-small-img" src="images/profile.jpg" id="authorPic">
                        <span style="font-size: 16px;color: #fff;" id="authorName1"><%=data[i].username%></span>


                        <% 
                        if (data[i].users_id == user.id){%>
                        <span class="pull-right">
                                <a class="a-inside edit" href="../gallery/edit/<%=data[i].gallery_id%>">Edit</a>
                                 <a class="a-inside delete" href="../gallery/delete/<%=data[i].gallery_id%>">Delete</a>
                        </span>
                         <% }%>

                        <div class="user-details">
                            <div class="user-img"><img src="images/profile.jpg" class="img-responsive" id="authorPic"></div>
                            <span class="user-full-details">
                                <h3 id="authorName2"><%=data[i].username%></h3>
                                <p id="authorJob">A student from Coventry University</p>
                            </span>
                        </div>
                    </div>
                </aside>
                <% }
                
                 }else{ %>
                    <p>no info</p>
                    <% } %>
            </div>

 
        </div>
       
    </div>








    
    <!-- <div class="page-data">
        <div class="data-btn">
          <button onClick="addUser();">+ Add</button>
        </div>
        <div class="data-table">
           <table border="1" cellpadding="7" cellspacing="7">
               <tr>
                   <th width="50px">No</th>
                   <th>Name</th>
                   <th>Address</th>
                   <th>Phone</th>
                   <th>Email</th>
                   <th width="120px">Action</th>
               </tr>
                              
               <% if(data.length){ 
                               
                for(var i = 0;i < data.length;i++) { %>
                
               <tr>
                   <td><%=(i+1)%></td>
                   <td><%=data[i].name%></td>
                   <td><%=data[i].address%></td>
                   <td><%=data[i].phone%></td>
                   <td><%=data[i].email%></td>
                   <td>
                       <a class="a-inside edit" href="../gallery/edit/<%=data[i].id%>">Edit</a>
                      
                       <a class="a-inside delete" href="../gallery/delete/<%=data[i].id%>">Delete</a>
                      
                   </td>
               </tr>
           <% }
           
            }else{ %>
                <tr>
                   <td colspan="3">No user</td>
                </tr>
           <% } %>
               
                             
               
           </table>
        </div>
       </div> -->