<link rel="stylesheet" href="stylesheets/gallery.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

<script src="javascripts/board.js"></script>
<script src="javascripts/spa.js"></script>



<div class="container">
	<div class="data-btn">
		<button onclick="addUser();">+ Add</button>
	</div>
	<form action="/gallery/search" method="get">
		<div class="box">
			<div class="container-1">
				<span class="icon"><i class="fa fa-search"></i></span>
				<input class = "form-control" type="search" id="search" name="search" placeholder="search"/>
			</div>
		</div>
		<button>검색</button>
	</form>
	
	<div class="row center-block" id="thumb">
          


        <% if(data[0].length){ for(var i=0;i < data[0].length;i++) { %>
            
		<aside class="col-xs-6 col-md-4 center-block" >
		<img src="<%=data[0][i].url%>" class="img-responsive" >
		<div class="content-title">
			<div class="text-center">
				<h3><a href="#" id="thumbTitle"><%=data[0][i].name%></a></h3>
                <h3><%=data[0][i].info%></h3>
              
			</div>
		</div>
		<div class="content-footer">
			<img class="user-small-img" src="images/profile.jpg" id="authorPic">
            <span style="font-size: 16px;color: #fff;" id="authorName1"><%=data[0][i].username%></span>
    
            <a class="a-inside" href="/gallery/galleryComment/<%=data[0][i].gallery_id%>"><span class="glyphicon glyphicon-comment" style="margin-left: 10px"  ></span>Comment</a>
            
			<% if (data[0][i].users_id==user.id){%>
			<span class="pull-right">
			<a class="a-inside edit" href="/gallery/edit/<%=data[0][i].gallery_id%>">Edit</a>
			<a class="a-inside delete" href="/gallery/delete/<%=data[0][i].gallery_id%>">Delete</a>
			</span>
			<% }%>
			<div class="user-details">
				<div class="user-img">
					<img src="images/profile.jpg" class="img-responsive" id="authorPic">
				</div>
				<span class="user-full-details">
				<h3 id="authorName2"><%=data[0][i].username%></h3>
				<p id="authorJob">
					A student from Coventry University
				</p>
				</span>
			</div>
		</div>
		</aside>
		<% } }else{ %>
		<p>
			no info
		</p>
		<% } %>
    </div>
    

</div>